body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #CFCECE;
    width: 100%;
    margin: 0 auto;
}


.right{
    width: 70%;
    float: right;
    margin-right: 60px;
}

.left{
    float: left;
    width: 25%;
    overflow: auto;
    height: 100%;
    position: fixed;
    background-color: #1F2228;
}

.left ul{
    margin-right: 40px;
    margin-bottom: 30px;
    /*margin-left: -33px;*/
}

#ultimaUl{
    margin-bottom: 100px;
}

.left a{
    text-decoration: none;
}

.left ul li{
    list-style-type: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    height: 20px;
    border: 1px solid white;
    padding:5px;
}


dt{
    font-weight: bold;
    text-transform: capitalize;
    color:red;
    font-size: 2em;
}

dd{
    text-indent: 15px;
    border: 2px dashed orange;
    padding:10px;
    margin-bottom: 40px;
    font-size: 1.2em;
    color:white;
}

.verde{
    color:#18AB1D;
    font-weight: bolder;
}

.amarelo{
    color:#E6E41A;
    font-weight: bolder;
}

.roxo:first-line{
    color:#E43BBD;
    font-weight: bolder;
}

.azul:first-line{
    color:#249DE4;
    font-weight: bold;
}

dd li{
    border: 1px dashed gray;
}

* a{
    color: white;
}

.duvida{
    background-color: #D75555;
}

.percebido{
    background-color: #57D05C;
}
.assim-assim{
    background-color: #E4D93B;
}

.topFixedBar{
    background-color: #FFFF00;
    height: 50px;
}

.topFixedBar ul{
    float: right;
    margin-right: 50px;
}

.topFixedBar ul li{
    display: inline;
    margin-right: 50px;
}


/*******************************************************************
*           Tabela PluginJquery
*******************************************************************/

.linhasCentradasTabela{
    text-align: center;
}

/*******************************************************************
*           Butão - editar Roteiro - gerirRoteiros.php
*******************************************************************/

.editarRoteiro {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}
.editarRoteiro:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
.editarRoteiro:active {
    position:relative;
    top:1px;
}


/******************************************************************************
*       ESTADO ACTIVO DO ROTEIRO
******************************************************************************/


.roteiroActivo {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.roteiroActivo:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}
.roteiroActivo:active {
    position:relative;
    top:1px;
}


/******************************************************************************
*          ESTADO INACTIVO DO ROTEIRO
******************************************************************************/

.roteiroInactivo {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.roteiroInactivo:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
.roteiroInactivo:active {
    position:relative;
    top:1px;
}


/********************************************************************
*     estilos pessoais do botão para alterar o estado do roteiro
*******************************************************************/
#myRoteiroActivo, #myRoteiroInactivo{
    width: 210px;
    height: 44px;
    font-size: 22px;
    text-align: center;
    padding-top: 27px;
}

#notaEstado{
    color: white;
    text-align: center;
}