body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #CFCECE;
    width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
}

.labelTransp {
    margin-right: 20px;
}

.right{
    width: 70%;
    float: right;
    margin-right: 60px;
    margin-bottom: 69px;
}

.left{
    float: left;
    width: 25%;
    overflow: auto;
    height: 100%;
    position: fixed;
    background-color: #1F2228;
}

.left ul{
    margin-right: 40px;
    margin-bottom: 30px;
}

#btnInserirRoteiro {
    margin-top: 95px;
}

#btnTermosCondicoes {
    margin-bottom: 80px;
}

.left a{
    text-decoration: none;
}

.left ul li{
    list-style-type: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    height: 20px;
    border: 1px solid white;
    padding:5px;
}


dt{
    font-weight: bold;
    text-transform: capitalize;
    color:red;
    font-size: 2em;
}

dd{
    text-indent: 15px;
    border: 2px dashed orange;
    padding:10px;
    margin-bottom: 40px;
    font-size: 1.2em;
    color:white;
}

.verde{
    color:#18AB1D;
    font-weight: bolder;
}

.amarelo{
    color:#E6E41A;
    font-weight: bolder;
}

.roxo:first-line{
    color:#E43BBD;
    font-weight: bolder;
}

.azul:first-line{
    color:#249DE4;
    font-weight: bold;
}

dd li{
    border: 1px dashed gray;
}

* a{
    color: white;
}

.duvida{
    background-color: #D75555;
}

.percebido{
    background-color: #57D05C;
}
.assim-assim{
    background-color: #E4D93B;
}

.topFixedBar{
    background-color: #273A43;
    height: 62px;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.topFixedBar #welcome{
    float: left;
    margin-left: 40px;
    margin-top: -3px;
}

#welcome h2 {
    color: white;
    text-align: center;
}

#welcome h2 span {
    color: orange;
}

.topFixedBar ul{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}

.topFixedBar ul li{
    display: inline;
    margin-right: 50px;
}


/*******************************************************************
*           Tabela PluginJquery
*******************************************************************/

.linhasCentradasTabela{
    text-align: center;
}

/*******************************************************************
*           Butão - editar Roteiro - gerirRoteiros.php
*******************************************************************/

.editarRoteiro {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}
.editarRoteiro:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
.editarRoteiro:active {
    position:relative;
    top:1px;
}


/******************************************************************************
*       ESTADO ACTIVO DO ROTEIRO
******************************************************************************/


.roteiroActivo, .utilizadorActivo, .utilizadorDesbloqueado {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.roteiroActivo:hover,  .utilizadorActivo:hover, .utilizadorDesbloqueado:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}
.roteiroActivo:active, .utilizadorActivo:active, .utilizadorDesbloqueado:active {
    position:relative;
    top:1px;
}


/******************************************************************************
*          ESTADO INACTIVO DO ROTEIRO
******************************************************************************/


.roteiroInactivo, .utilizadorInactivo, .utilizadorBloqueado {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.roteiroInactivo:hover, .utilizadorInactivo:hover, .utilizadorBloqueado:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.roteiroInactivo:active, .utilizadorInactivo:active, .utilizadorBloqueado:active {
    position:relative;
    top:1px;
}

/****************************************************************************
*   Botão para eliminar um determinado roteiro
****************************************************************************/

.eliminarRoteiro {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.eliminarRoteiro:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
}
.eliminarRoteiro:active {
    position:relative;
    top:1px;
}


/********************************************************************
*     estilos pessoais do botão para alterar o estado do roteiro
*******************************************************************/
#eliminarRoteiroId a{
    margin-top: 62px;
}

#myRoteiroActivo, #myRoteiroInactivo, #myUtilizadorActivo, #myUtilizadorInactivo{
    font-size: 22px;
    margin-left: -21px;
    text-align: center;
    width: 244px;
    padding-bottom: 23px;
    padding-top: 24px;
}

#myUtilizadorDesbloqueado, #myUtilizadorBloqueado {
    font-size: 22px;
    margin-left: -21px;
    text-align: center;
    width: 244px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ulEstadoRoteiros{
    margin-top: -44px;
}

#myEliminarRoteiro{
    width: 142px;
    text-align: center;
    margin-left: 30px;
    margin-top: 76px;
}

#notaEstado, #notaBloqueado{
    color: white;
    text-align: center;
}

/*****************************************************************************
*           Submit Button Style
*****************************************************************************/
.mySubmitButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f04b1d), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #f04b1d 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #f04b1d 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #f04b1d 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #f04b1d 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #f04b1d 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f04b1d', endColorstr='#bc3315',GradientType=0);
    background-color:#f04b1d;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:24px;
    padding:23px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.mySubmitButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #f04b1d));
    background:-moz-linear-gradient(top, #bc3315 5%, #f04b1d 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #f04b1d 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #f04b1d 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #f04b1d 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #f04b1d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#f04b1d',GradientType=0);
    background-color:#bc3315;
}
.mySubmitButton:active {
    position:relative;
    top:1px;
}
